[Unit]
Description=Fan Controlling Script

[Service]
Type=simple
Restart=always
RestartSec=10
User=<USER>
ExecStart=<PYPATH>

[Install]
WantedBy=multi-user.target

