[Unit]
Description=Fan Controlling Script

[Service]
Type=simple
Restart=always
RestartSec=10
User=ubuntu
ExecStart=/home/ubuntu/Projects/PiCool/Cooler/piCool.py

[Install]
WantedBy=multi-user.target

